#radioButton2{
     -fx-font-size: 25;
     -fx-font-weight: BOLD;
     -fx-font-family: Arial;
     -fx-text-fill: #00008b;
     }

.button: active{
    -fx-background-color: #00008b;
}

.table-row-cell:selected{
     -fx-font-size: 15;
     -fx-font-weight: BOLD;
     -fx-background-color: 	#000000;

     }

.table-view {
     -fx-background-color: 	#000000;


     }
